.home__container {
    // padding-inline: 2rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // height: 100vh;

    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100vh;
    border-radius: 0 0 5rem 5rem;
    background-color: var(--color-secondary);
}
.home__container-lg {
    display: none;
}
.home__wave {
    display: inline;
    font-size: 2rem;
    transform: rotate(-5deg);
    margin-bottom: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

.home__paragraph{
    display: inline;
}

.social_media_button__wrapper__home {
    bottom: calc(25vh - 7rem);
    position: absolute;
}

@media (min-width: 1024px) {
    .container__home-container {
        height: 100vh;
        display: flex;

    }

    .home__container-lg {
        width: 40vw;
        height: 100vh;
        background-color: var(--color-primary);
        display: flex;
    }

    .home__container{
        width: 60vw;
        display: flex;
        height: 90vh;
        margin-right: 2.5rem;
        border-radius: 5rem;
        background-color: var(--color-secondary);
    }
    .home__img {
        width: 100%;
        padding: 1rem;
    }

    
}